/ProgrammazioneDistribuita/Lab/Esercitazione JPA/BookStorePortatile/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/BookStoreTutorial/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/JobScheduler1/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/JobScheduler/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/HelloWorldClient/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/HelloWorldBean/target/
/ProgrammazioneDistribuita/Lab/Esercitazione JPA/HelloBean/target/
